body * {
    /* border: 1px solid black; */
}

#wrap {
    margin: auto;
    width: 1200px;
    height: 1500px;
}
header{
    height: 10%;
    width: 100%;
}

nav{
    height: 5%;
    width: 100%;
}
section{
    height: 75%;
    width: 100%;
}

footer{
    height: 10%;
    width: 100%;
}

#movie-detail-page{
    width: 100%;
    height: 40%;
    margin-bottom: 50px;
}

#movie-detail-img{
    width: 25%;
    float: left;
    margin-right: 50px;
}
#movie-detail-img img{
    width: 100%;
    height: 100%;
}

#movie-detail-title-contents{
    margin-top: 30px;
    width: 85%;    
}
#movie-title{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}

#movie-like-abvance{
    height: 6%;
    width: 100%;
    margin-bottom: 20px;
}
#movie-screening{
    font-size: 15px;
    border: 4px solid lightpink;
}
#movie-en-title{
    font-size: 13px;
    color: lightslategrey;
}
#movie-contents{
    line-height: 30px;
}

hr{
    height: 3px;
    background-color: grey;
}
.movie-logo{
    width: 25px;
    height: 25px;
    float: left;
}

.movie-logo img{
    width: 100%;
    height: 100%;
}
.movie-text{
    float: left;
    margin-left: 5px;
    color: gray;
    font-weight: 500;
    margin-right: 10px;
}
#movie-info{
    margin-bottom: 15px;
}

#movie-actor{
    margin-bottom: 30px;
}
#movie-ticketing{
    width: 100%;
}
#ticketing-button{
    width: 200px;
    height: 40px;
    background-color: crimson;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    float: right;
}
.movie-warning-photo-text{
    background-color: lightgrey;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    margin-bottom: 30px;

}

.movie-video{
    width: 100%;
}

.movie-video-iframe{
    width: 32%;
    margin-left: 10px;
    margin-bottom: 30px;
}

