
body * {
    /* border: 1px solid black; */
    margin: auto;
}

#wrap{
    width: 1200px;
    height: 1500px;
}
header{
    height: 10%;
    width: 100%;
}

nav{
    height: 5%;
    width: 100%;
}
section{
    height: 75%;
    width: 100%;
}

footer{
    height: 10%;
    width: 100%;
}
#admin-menu{
    padding: 0;
    list-style:none;
}
#admin-menu li{
    line-height: 30px;
    height: 30px;
    margin-top: 20px;
    width: 19%;
    float: left;
    text-align: center;
    margin-left: 8px;
    background-color: thistle;
}
#admin-menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: palevioletred;
}

#admin-menu a:hover{
    color: purple;
}

.member-menu-hr{
    height: 3px;
    background-color: gray;
    margin-bottom: 10px;
}
#member-menu{
    height: 30px;
    padding: 0;
    list-style: none;
}
#member-menu li{
    width: 33%;
    float: left;
    text-align: center;
}
#member-menu li :visited{
    color:red;
}
#member-menu a{
    color: darkslategray;
    text-decoration: none;
    font-weight: 800;
}
#member-table{
    text-align: center;
    border-spacing: 10px;
}
#member-table thead{
    font-weight: 800;
}
#member-table td{
    width: 160px;
}
#member-table hr{
    margin-top:50px;
}
#page-area{
    margin: auto;
    text-align: center;
}
#page-area a{
    text-decoration: none;
    color: rgb(134, 8, 103);
}